




/* GENERAL  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    display: inline-block;
}


.header-top .window nav{
    text-align: center;
}

.header-top .window nav ul li{
    display: inline-block;
    text-align: center;
}

.header-top .window nav ul li a{
    color: white;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    /* background-color: red; */
    margin: 0 15px;


}

h1{
    font-size: 60px;
}

.logo,.window nav ,.account{
    margin: 20px 0;
}





/* UTILITY  */
.window{
    width: 70%;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}




/* HEADER  */

/* header-top  */
.header-top{
    background-color: #3161E0;
}

/* left and right of header-top */
.mini-space{
    /* background: rgb(170, 170, 157); */
    width: 15%;
    /* max-width: 20%; ???? magari dopo */
}


/* center of header-top */
.center-header-top{
    /* background-color: red; */
    min-width: 70%;
}

/* account  */
.account{
    text-align: end;

}
.account a{
    color: #255EE9;
    background-color: white;
    padding: 9px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-top: -1px;
}



/* jumbo */
.jumbo{
    min-height: 65vh;
    text-align: center;
    background-image: url(../img/jumbo.png);
    position: center;
    background-size: cover;
}

/* jumbo content  */
.jumbo-content{
 
    color: white;
    
}

header .jumbo .jumbo-content h1{
    font-size: 70px;
    padding-top: 115px ; 
    margin-bottom: 60px;

}
header .jumbo .jumbo-content p{
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}

header .jumbo .jumbo-content ul li{
    margin-right: 30px
}
header .jumbo .jumbo-content ul li a{
    /* width: 300px; per il secondo */
    line-height: 50px;
    border-radius: 30px;
}
header .jumbo .jumbo-content ul li  #down-mac{
    background-color: white;
    width: 210px;
    color: black;
}
header .jumbo .jumbo-content ul li  #on-brows{
    background-color: black;
    color: white;
    width: 300px;
}









/* MAIN  */
.wave{
    background-color: white;
    color: rgb(228, 215, 215);
}
.wave-gray{
    background-color: rgb(228, 215, 215);
    color: white;
}

.last-section svg.wave{
    color: rgb(228, 215, 215);
}
section .window{
    padding: 200px 0;
    
}

.content-section{
    display: inline-block;
    width: 35%;
    /* background-color: red; */
    margin-top: 30px;
}

.content-section p{
    margin-top: 20px;
}


.second-section, .last-section{
    background-color: rgb(228, 215, 215);
    background-repeat: no-repeat;
}

.last-section{
    text-align: center;
}


h2{
    padding: 50px;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#bottom-button{
    width: 210px;
    background-color: #8EA1E1;
    line-height: 50px;
    border-radius: 30px;
    color: white;
}



/* FOOTER  */

footer{
    background-color: black;
    padding: 60px;
}

.discord-color{
    color: #7289DB;
}














footer .window section div ul{
    list-style: none;
    margin-bottom: 20px;
}

footer .window section div ul li a{
    line-height: 30px;
    color: white;
}
footer .window section div h3{
    font-size: 1.5rem;
}

.footer-top{
    border-bottom: solid 1px violet;
    margin-bottom: 30px;
}


.window .col{
    color: white;
}

.col.bigi{
    margin-right: 20%;
    width: 20%;
}

.col{
    width: 15%;
}

.register a{
    color: white;
    background-color: #8EA1E1;
    padding: 9px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-top: -1px;
}

.col.bigi a {
    padding-top: 25px ;
    color: white;
}

.ita{
    width: 30px;
}

.socials li{
    display: inline-block;
    font-size: 30px;
    margin: 10px;
}




/* THE HOOVERS */
.account a:hover{
    color: #ff00ea;
}

header .jumbo .jumbo-content ul li  #down-mac:hover{
    color: #ff00ea;
}

header .jumbo .jumbo-content ul li  #on-brows:hover{
    color: #ff00ea;
}

.socials a:hover {
    color: #ff00ea;

}
.col a:hover {
    color: #ff00ea;

}

.header-top .window nav ul li a:hover{
    color: #ff00ea;

}

.register a:hover{
    color: #ff00ea;

}

#bottom-button:hover{
    color: #ff00ea;

}