/* GENERAL  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITY  */
.window{
    width: 70%;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-left{
    float: right;
}

.section-height{
    height: 300px;
    background-color: green;
}


/* HEADER  */
.header-top{
    background-color: #3161E0;
    width: 100%;
}


.mini-space{
    background: rgb(170, 170, 157);
    width: 20%;
    /* max-width: 20%; ???? magari dopo */
}

nav{
    background-color: red;
    min-width: 60%;

}



/* MAIN  */


/* FOOTER  */


/* TEST'S FOR POSITIONS AND SIZE */
.mini-space,nav{
    min-height: 50px;
}


    







